body 
{
	background-image:url('img/bg.png');
	font-family:Tahoma;
	font-size:12px;
 
}
a:link {
	color: #939;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #939;
}
a:hover {
	text-decoration: none;
	color: Red;
}
a:active {
	text-decoration: none;
	color: #939;
}
.main
{
	width:980px;

	background-color:White;
}
.menutb
{
	background-image:url('img/tbmenubg.png');
	height:20px;
}
.kat
{
	width:180px;
	color:Black;
}
